<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.plaid.donate.porcelain">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <supports-screens
        android:anyDensity="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name="com.plaid.donate.porcelain.LinkSampleApplication"
        android:allowBackup="false"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup"
        android:usesCleartextTraffic="true"
        tools:ignore="MissingClass,UnusedAttribute">

        <!-- `usesCleartextTraffic` is only to allow http traffic to localhost. Do not use this for production apps. -->
        <activity
            android:name=".SplashActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.signIn"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SignInActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.signIn"
            android:windowSoftInputMode="stateHidden|adjustPan">
        </activity>

        <activity android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan" >

        </activity>

        <activity android:name=".MoreInfoActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan" >

        </activity>

        <activity
            android:name=".handlers.BigTextMainActivity"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_big_text_main"
            android:taskAffinity="">
        </activity>

        <activity
            android:name=".handlers.BigPictureSocialMainActivity"
            android:label="@string/title_activity_big_picture_main">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>

        <activity
            android:name=".handlers.MessagingMainActivity"
            android:label="@string/title_activity_messaging_main">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>

        <service
            android:name=".handlers.BigTextIntentService"
            android:exported="false">
        </service>

        <service
            android:name=".handlers.MessagingIntentService"
            android:exported="false">
        </service>

        <service
            android:name=".handlers.BigPictureSocialIntentService"
            android:exported="false">
        </service>

    </application>

</manifest>